body {
background-image: url(../img/duotone.png); 
background-size: 100% 170%; background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
text-align: center;
}


.img-icon {
margin-top: 10%;
position: absolute;
width: 40%;
height: px;
left: 56px;
top: 44px;
}

.bola {
position: absolute;
width: 1444px;
height: 1369px;
left: -543px;
top: -129px;
}

.textoEbook {
position: absolute;
width: 416px;
height: 87px;
left: 46px;
top: 289px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 35px;
/* or 117% */

letter-spacing: 0.05em;

color: #FFFFFF;

}

.textoEbook2{
  position: absolute;
width: 603px;
height: 140px;
left: 56px;
top: 395px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
/* or 146% */

letter-spacing: 0.05em;

color: #FFFFFF;

}

.some_no_desktop {
  display: none;
}

.colorFormulario {
  color: #fff;
}

.containerForm1{
position: absolute;
width: 529px;
height: 43.05px;
left: 50px;
top: 520px;

background: #FFFFFF;

}


@media (max-width: 900px) {

.some_no_desktop {
display: block;
}

.fomulario {
margin-top: 30px;
}

.colorFormulario {
color: #65679a;
font-weight: bold;
}

.bg-intro {
background-color: black;
height: 150px;
}

.img-icon {
width: 150px;
height: 50px;
margin-top: 50px;
}

.some_no_moblie {
display: none;
}

.aparece {
width: 150px;
height: 50px;
margin-top: 50px;
}

body {
padding-top: 0px;
background: none;
}

.fixed-top {
position: relative;
}
  
.navbar {
display: flex;
align-items: center;
justify-content: center;
}

.textResponsivo{
font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
}

.textResponsivo2{
   
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;}
}

i{
font-size: 400%;
margin-right: 5%;
align-content: left;
margin-top: 30%;
margin-bottom: 0%;
color: rgb(255, 255, 255);
}